/CHANGELOG.md   export-ignore
/.gitattributes export-ignore
/.travis.yml    export-ignore
/.phpunit.xml   export-ignore
/examples       export-ignore
/tests          export-ignore
/assets         export-ignore