<phpunit bootstrap="vendor/autoload.php" verbose="true" stopOnError="true" stopOnFailure="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="testdox-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="tmp/report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
                  file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php">
        </listener>
    </listeners>
    <testsuites>
        <testsuite name="ContactInfo">
            <file>tests/Unit/ContactInfoTest.php</file>
        </testsuite>
        <testsuite name="FailTest">
            <file>tests/Unit/FailTest.php</file>
        </testsuite>
        <testsuite name="InquireTest">
            <file>tests/Unit/InquireTest.php</file>
        </testsuite>
        <testsuite name="MessageTest">
            <file>tests/Unit/MessageTest.php</file>
        </testsuite>
        <testsuite name="SkipTest">
            <file>tests/Unit/SkipTest.php</file>
        </testsuite>
        <testsuite name="ActivationTemplateResponseTest">
            <file>tests/Unit/ActivationTemplateResponseTest.php</file>
        </testsuite>
        <testsuite name="LoggerTest">
            <file>tests/Unit/LoggerTest.php</file>
        </testsuite>
        <testsuite name="ActivationTileResponseTest">
            <file>tests/Unit/ActivationTileResponseTest.php</file>
        </testsuite>
        <testsuite name="Configuration">
            <file>tests/Unit/ConfigurationTest.php</file>
        </testsuite>
        <testsuite name="Application">
            <file>tests/Unit/FulfillmentAutomationTest.php</file>
        </testsuite>
        <testsuite name="Models">
            <file>tests/Unit/ModelTest.php</file>
            <file>tests/Unit/ParamTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>