<phpunit bootstrap="vendor/autoload.php" verbose="true" stopOnError="true" stopOnFailure="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="testdox-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Fail">
            <file>tests/Unit/FailTest.php</file>
        </testsuite>
        <testsuite name="Inquire">
            <file>tests/Unit/InquireTest.php</file>
        </testsuite>
        <testsuite name="Message">
            <file>tests/Unit/MessageTest.php</file>
        </testsuite>
        <testsuite name="Skip">
            <file>tests/Unit/SkipTest.php</file>
        </testsuite>
        <testsuite name="ActivationTemplateResponse">
            <file>tests/Unit/ActivationTemplateResponseTest.php</file>
        </testsuite>
        <testsuite name="Logger">
            <file>tests/Unit/Logger/LogRecordTest.php</file>
            <file>tests/Unit/Logger/LogSessionTest.php</file>
            <file>tests/Unit/LoggerTest.php</file>
        </testsuite>
        <testsuite name="ActivationTileResponse">
            <file>tests/Unit/ActivationTileResponseTest.php</file>
        </testsuite>
        <testsuite name="RequestTest">
            <file>tests/Unit/RequestTest.php</file>
        </testsuite>
        <testsuite name="Configuration">
            <file>tests/Unit/ConfigTest.php</file>
            <file>tests/Unit/Config/VaultConfigTest.php</file>
        </testsuite>
        <testsuite name="Application">
            <file>tests/Unit/FulfillmentAutomationTest.php</file>
        </testsuite>
        <testsuite name="Models">
            <file>tests/Unit/ModelTest.php</file>
            <file>tests/Unit/ParamTest.php</file>
            <file>tests/Unit/AssetTest.php</file>
            <file>tests/Unit/ContactInfoTest.php</file>
        </testsuite>
        <testsuite name="RequestStructure">
            <file>tests/Unit/RequestStructureTest.php</file>
        </testsuite>
        <testsuite name="TierRequests">
            <file>tests/Unit/TierRequestTest.php</file>
        </testsuite>
        <testsuite name="Usage Responses">
            <file>tests/Unit/AcceptTest.php</file>
            <file>tests/Unit/AcceptResponseTest.php</file>
            <file>tests/Unit/CloseTest.php</file>
            <file>tests/Unit/DeleteTest.php</file>
            <file>tests/Unit/RejectTest.php</file>
            <file>tests/Unit/RejectResponseTest.php</file>
            <file>tests/Unit/UsageSkipTest.php</file>
            <file>tests/Unit/SubmitTest.php</file>
            <file>tests/Unit/FileRetrieveExceptionTest.php</file>
            <file>tests/Unit/FileCreationExceptionTest.php</file>
        </testsuite>
        <testsuite name="Usage Automation">
            <file>tests/Unit/UsageAutomationBasicsTest.php</file>
            <file>tests/Unit/UsageAutomationTest.php</file>
        </testsuite>
        <testsuite name="Usage File Automation">
            <file>tests/Unit/UsageFileAutomationTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>